<section id="carts">
  <div class="row">
    <div class="col-lg-9 col-sm-6">
      <% if @items.present? %>
        <%= render partial: "item", collection: @items %>
        <div class="mb-5"></div>
        <%= render "shared/pagy", pagy: @pagy %>
      <% else %>
        <div class="text-center">
          <h1>Data Not Found</h1>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h6>Summary</h6>
        </div>
        <div class="card-body">
          <%= render "summary" %>
        </div>
      </div>
    </div>
  </div>
</section>
