<% content_for :modal_content do %>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= params[:action] == "new" ? "Add" : "Edit" %> Address</h5>
      <button type="button" class="btn-close" data-action="modal#hideModal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= render "form", url: url %>
    </div>
  </div>
<% end %>

<%= render "shared/modal", modal_dialog: "" %>
