<div class="mb-3">
  <label class="form-label">Name</label>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="mb-3">
  <label class="form-label">Amount</label>
  <%= f.number_field :amount, class: "form-control", min: 1 %>
</div>
<div class="mb-3">
  <label class="form-label">Type</label>
  <%= f.select(:tax_type, options_for_select(Tax::TYPE.map {|type| [type.humanize, type]}, f.object.tax_type),
      { include_blank: "Select Type" }, { class: "form-control" }) %>
</div>

<div class="mb-3"></div>

<button type="button" class="btn btn-secondary" data-action="modal#hideModal" aria-label="Close">Back</button>
<button type="submit" class="btn btn-primary">Save</button>
