<% if @pagy.present? && @pagy.next.present? %>
  <%= turbo_frame_tag(
      "products-page-#{@pagy.next}",
      autoscroll: true,
      loading: :lazy,
      src: pagy_url_for(@pagy, @pagy.next),
      target: "_top"
    ) do %>
    <span class="text-center">Loading...</span>
  <% end %>
<% end %>
