<div class="col-3 mb-5">
  <div class="card">
    <%= image_tag("placeholder_600_400.svg", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name.truncate(19) %> - <%= money(product.starting_price) %></h5>
      <%= link_to "View Detail", product_path(product.slug), class: "btn btn-primary d-block", target: "_top" %>
    </div>
  </div>
</div>
