<%= turbo_frame_tag "tables" do %>
  <% if @objects.present? %>
    <div class="table-responsive mb-5">
      <table class="table default-height-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="lists">
          <%= render @objects %>
        </tbody>
      </table>
    </div>

    <%= render "shared/pagy", pagy: @pagy %>
  <% else %>
    <%= render "shared/empty_data" %>
  <% end %>
<% end %>
