<tr>
  <td><%= order.code %></td>
  <td><%= money(order.total_payment) %></td>
  <td><%= order.status.humanize %></td>
  <td class="text-center"><%= date_time(order.created_at) %></td>
  <td>Action here</td>
</td>
