<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <strong>Insert Photo</strong><br/><br/>

          <% if f.object.image.present? %>
            <%= image_tag(f.object.image.image, class: "img-fluid") %>
          <% end %>

          <%= f.file_field :image, class: "form-control" %><br/>
        </div>

        <div class="d-grid">
          <button type="button" class="btn btn-danger" data-action="nested-form#remove">Remove Photo</button>
        </div>
      </div>
    </div>
  </div>
</div>
