<div class="row">
  <div class="col-3">
    <%= render "shared/merchant/sidebar" %>
  </div>
  <div class="col-9">
    <div class="mb-3">
      <%= link_to "+ Add Product", new_merchants_product_path,
          class: "btn btn-primary btn-sm", data: { turbo: false } %>
    </div>

    <%= render "lists" %>
  </div>
</div>
