<%= form_for(@object, url: { action: :create }, data: { controller: "nested-form", nested_form_wrapper_selector_value: ".nested-form-wrapper" }) do |f| %>
  <div class="row">
    <div class="col-2">
      <%= link_to "Back", merchants_products_path,
          class: "btn btn-outline-secondary d-block",
          data: { turbo: false } %>
      <div class="d-grid">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <%= render "form", f: f %>
        </div>
      </div>
    </div>
  </div>
<% end %>
