<div class="mb-3">
  <label class="form-label">Status</label>
  <%= f.select(:promo_type, options_for_select(Transaction::STATUS.map {|status| [status.humanize, status]}, f.object.status),
      { include_blank: "Select Status" }, { class: "form-control" }) %>
</div>

<div class="mb-3"></div>

<button type="button" class="btn btn-secondary" data-action="modal#hideModal" aria-label="Close">Back</button>
<button type="submit" class="btn btn-primary">Save</button>
