<div class="list-group">
  <%= link_to "Banks", admins_banks_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/banks", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Categories", admins_categories_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/categories", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Promotions", admins_promotions_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/promotions", "active")}" %>
</div>
<div class="list-group">
  <%= link_to "Taxes", admins_taxes_path,
      class: "list-group-item list-group-item-action #{menu_condition("admins/taxes", "active")}" %>
</div>
